extends ../layout

block content
  h1= title
  p Welcome to Userpage
  div#main
    h2 Test mit /views/backbone/index.jade
    p
      | jetzt muss was tolles rein

  script(type='text/x-handlebars-template', id='entry-template')
    div.entry
        h1 {{title}}
        div.body {{body}}
        p#email test
        p#website test
        p#feedback test

  div#profile



